/*Global Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/*Navbar - Flexbox*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111;
    color: white;
    background-color: #111827;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

/*Hero- Flexbox*/

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  /*background-color: #EEF2FF; /* soft blue highlight */
  background: linear-gradient(to right, #0A66C2, #22C55E);
  color: white;
}


.hero img {
  width: 250px;
  border-radius: 50%;
}

/*SKills - CSS Grid*/
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #FFFFFF;
}

/*Projects- CSS Grid*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/*Cards*/
.card {
  background: #f4f4f4;
  padding: 30px;
  text-align: center;
  border-radius: 12px; 
}

/*Button*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

/*Make-it Reso=ponsive*/
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}

/*Full page background color*/
body {
  background-color: #F9FAFB; /* light professional gray */
}

footer {
  background-color: #EEF2FF;
  color: black;
}
